
input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input {
  width: 100%;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input:hover {
  background-color: #b9b6f5;
}

div {
  border-radius: 5px;
  padding: 20px;
}

.title {
  color: white;
  text-align: center;
}

.submit {
  background-color: #7976ad;
}

i {
  color: #7976ad;
}
